<div class="container">>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <div class="form-check">
      <%= f.association :ingredient, collection: Ingredient.all.order(:name) %>
      <%= f.input :description %>
      <%= f.submit %>
    </div>
  <% end %>
</div>
